<footer class="sm">
    <div class="social flex-center">
        <a href="" title="" class="telegram">telegram</a>
        <a href="" title="" class="discord">Discord</a>
        <a href="" title="" class="twitter">twitter</a>
    </div>
</footer>