<header>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggle" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="" class="logo"><img src="./assets/img/logo.svg" alt=""></a>
            <div class="navbar-collapse">
                <ul class="navbar-nav flex">
                    <li><a href="/hawkaiaibot/build/explore-tweets" title="Explore Tweets">Explore Tweets</a></li>
                    <li><a href="/hawkaiaibot/build/historical-data" title="Historical Data">Historical Data</a></li>
                    <li><a href="/hawkaiaibot/build/view-by-token" title="View by Token">View by Token</a></li>
                    <li><a href="" title="Narratives">Narratives</a></li>
                </ul>
                <div class="social flex-lc">
                    <a href="" title="" class="telegram">telegram</a>
                    <a href="" title="" class="twitter">twitter</a>
                    <a href="" title="" class="discord">Discord</a>
                </div>
            </div>
        </nav>
    </div>
</header>