<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/aos.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">

{% block content %}{% endblock %}

<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/aos.js"></script>

<script>
    $(document).ready(function () {
        //accordion
        var accordion_content = $('.accordion .content');
        var accordion__header        = $('.accordion .header');
        var accordion_active = $('.accordion > .active');
        accordion_content.hide();
        accordion_active.find('.content').slideToggle();

        accordion__header.click(function (e) {
            e.preventDefault();
            accordion__header.parent().removeClass('active');
            $(this).parent().toggleClass('active');
            accordion_content.slideUp();
            if (accordion_content.parent('.active')) {
                $(this).parent().find('.content').slideToggle();
            }
            return false;
        });

        AOS.init({
            easing: 'ease-out-back',
            duration: 1000,
            once: true,
            offset: 60,
        });

        //fix video autoplay mobile
        Object.defineProperty(HTMLMediaElement.prototype, 'playing', {
            get: function () {
                return !!(this.currentTime > 0 && !this.paused && !this.ended && this.readyState > 2);
            }
        });
        $('body').on('click touchstart', function () {
            const videoElement = document.querySelectorAll('video');
            videoElement.play();
        });

        var video = document.querySelectorAll('video');
        window.addEventListener('touchstart', function videoStart() {
            video.play();
            this.removeEventListener('touchstart', videoStart);
        });

    });

    /*Highcharts.setOptions({
        colors: ['#531C56', '#7C287D', '#94529F']
    });
    Highcharts.chart('container', {
        chart: {
            type: 'variablepie',
            backgroundColor: 'transparent',
            plotBorderWidth: 0,
            plotShadow: false,

        },

        title: {
            text: '',
            align: 'left'
        },


        tooltip: {
            enabled: false
        },
        plotOptions: {
            pie: {
                borderColor: 'transparent',
                borderWidth: 0,
            },
            series: {
                states: {
                    hover: {
                        enabled: false
                    }
                },
                enableMouseTracking: false,
            }
        },
        series: [{
            minPointSize: 10,
            innerSize: '30%',
            zMin: 0,
            name: '',
            data: [{
                name: 'CEX Listing',
                y: 60,
                z: 120,
            }, {
                name: 'N/A',
                y: 25,
                z: 85
            }, {
                name: 'N/A',
                y: 15,
                z: 52
            }]
        }]
    });*/
</script>

</body>
</html>