<main>
    <div class="container">
        <div class="box-btn flex">
            <a href="" title="Public Sale">Public Sale</a>
            <button type="button">Referrals</button>
            <button type="button">0xb145...F02D</button>
        </div>
        <div class="category-content">
            <h2 class="title mb-3">Historical Data</h2>
            <div class="box-search flex-center">
                <div class="item sm flex-lc">
                    <h5>See historical:</h5>
                    <select name="" class="select2-min">
                        <option value="1d">1d</option>
                        <option value="7d">7d</option>
                        <option value="30d" selected>30d</option>
                    </select>
                    <p class="font-weight-bold ml-3">performance for mentioned tokens</p>
                </div>
            </div>
            <div class="box-table">
                <div class="table flex">
                    <table>
                        <thead>
                        <tr>
                            <td><h4 class="lh-sm font-weight-bold px-3">Accounts</h4></td>
                            <td colspan="12"><h4 class="lh-sm font-weight-bold px-3">Historical Token Performance After Tweet</h4></td>
                        </tr>
                        <tr>
                            <th>Accounts</th>
                            <th>Jul 14</th>
                            <th>Jul 15</th>
                            <th>Jul 16</th>
                            <th>Jul 17</th>
                            <th>Jul 18</th>
                            <th>Jul 19</th>
                            <th>Jul 20</th>
                            <th>Jul 21</th>
                            <th>Jul 22</th>
                            <th>Jul 23</th>
                            <th>Jul 24</th>
                            <th>Jul 25</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <a href="" class="account flex-lc">
                                    <div class="avatar"><img src="./assets/img/kEMGnvvW_normal.jpg" alt="" class="img-fit"></div>
                                    <div class="info">
                                        <div class="name font-weight-bold">Sample Name</div>
                                        <div class="txt">Sample Name</div>
                                    </div>
                                </a>
                            </td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na red">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na red">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na red">N/A</span></div></td>
                        </tr>
                        <tr>
                            <td>
                                <a href="" class="account flex-lc">
                                    <div class="avatar"><img src="./assets/img/JGKhYa-y_normal.jpg" alt="" class="img-fit"></div>
                                    <div class="info">
                                        <div class="name font-weight-bold">Sample Name</div>
                                        <div class="txt">Sample Name</div>
                                    </div>
                                </a>
                            </td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na red">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na red">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na red">N/A</span></div></td>
                        </tr>
                        <tr>
                            <td>
                                <a href="" class="account flex-lc">
                                    <div class="avatar"><img src="./assets/img/avatar.png" alt="" class="img-fit"></div>
                                    <div class="info">
                                        <div class="name font-weight-bold">Sample Name</div>
                                        <div class="txt">Sample Name</div>
                                    </div>
                                </a>
                            </td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na red">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na red">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na red">N/A</span></div></td>
                        </tr>
                        <tr>
                            <td>
                                <a href="" class="account flex-lc">
                                    <div class="avatar"><img src="./assets/img/avatar.png" alt="" class="img-fit"></div>
                                    <div class="info">
                                        <div class="name font-weight-bold">Sample Name</div>
                                        <div class="txt">Sample Name</div>
                                    </div>
                                </a>
                            </td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na red">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na red">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na red">N/A</span></div></td>
                        </tr>
                        <tr>
                            <td>
                                <a href="" class="account flex-lc">
                                    <div class="avatar"><img src="./assets/img/avatar.png" alt="" class="img-fit"></div>
                                    <div class="info">
                                        <div class="name font-weight-bold">Sample Name</div>
                                        <div class="txt">Sample Name</div>
                                    </div>
                                </a>
                            </td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na red">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na red">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na red">N/A</span></div></td>
                        </tr>
                        <tr>
                            <td>
                                <a href="" class="account flex-lc">
                                    <div class="avatar"><img src="./assets/img/avatar.png" alt="" class="img-fit"></div>
                                    <div class="info">
                                        <div class="name font-weight-bold">Sample Name</div>
                                        <div class="txt">Sample Name</div>
                                    </div>
                                </a>
                            </td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na red">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na red">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na red">N/A</span></div></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="nav-tokens flex-center mt-5">
                <div class="mb-2 w-100 text-center">Showing Tokens <span>1</span> to <span>25</span></div>
                <button type="button" class="flex-center btn-prev txt-sm font-weight-bold"><i class="icon icon-arrow"></i><span>Prev</span></button>
                <button type="button" class="flex-center btn-next txt-sm font-weight-bold"><span>Next</span><i class="icon icon-arrow"></i></button>
            </div>
        </div>
    </div>
</main>
