<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <a href="" class="logo"><img src="./assets/img/logo.svg" alt=""></a>
            <div class="social flex-lc">
                <a href="" title="" class="telegram">telegram</a>
                <a href="" title="" class="twitter">twitter</a>
                <a href="" title="" class="discord">Discord</a>
            </div>
            <a href="" title="Dashboard" class="btn-dapp">Dashboard</a>
        </nav>
    </div>
</header>
<main>
    <div class="hawkai-s1 pr">
        <div class="box-video">
            <video muted autoplay loop playsinline>
                <source src="./assets/img/bg-video-s1.mp4" type="video/mp4">
            </video>
        </div>
        <div class="container">
            <div class="content text-center pr">
                <div class="decor">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="img-wrapper"><img src="./assets/img/logo-1.svg" alt=""></div>
                <h1 data-aos="fade-up">HawkAI Bot</h1>
                <p class="txt-md lh-md" data-aos="fade-up" data-aos-delay="200">Introducing HawkAI Bot - Specializing in the development of Alpha Hunter, empowering users to efficiently discover new projects and allocate funds, alongside smart trading, airdrop farming, and portfolio management.</p>
            </div>
        </div>
    </div>
    <div class="hawkai-s2">
        <div class="container">
            <h2 class="title text-center">How to get start?</h2>
            <div class="box-guide">
                <div class="guide-step">
                    <div class="item" data-aos="fade-right">
                        <div class="flex-lc">
                            <div class="stt flex-center">1</div>
                            <h4 class="txt-md">Say Hello To HawkAI Bot</h4>
                        </div>
                        <div class="text">
                            Simply type <span>"/start"</span> to engage with <span>@HawkAI_Bot</span> and unlock its amazing features.
                        </div>
                    </div>
                    <div class="item" data-aos="fade-right" data-aos-delay="300">
                        <div class="flex-lc">
                            <div class="stt flex-center">2</div>
                            <h4 class="txt-md">Onboarding</h4>
                        </div>
                        <div class="text">
                            Kindly adhere to the provided instructions to successfully finalize the onboarding procedure.
                        </div>
                    </div>
                    <div class="item" data-aos="fade-right" data-aos-delay="600">
                        <div class="flex-lc">
                            <div class="stt flex-center">3</div>
                            <h4 class="txt-md">Bot Configure</h4>
                        </div>
                        <div class="text">
                            Start configuring the bot according to your preferences, such as setting up limit orders, stop losses, airdrop tasks, or token allocation ratios in your portfolio.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hawkai-s3">
        <div class="container">
            <div class="header text-center">
                <h2 class="title">Alpha hunter</h2>
                <p class="txt-sm">The Alpha Hunter has two main components. Degen Play & Sentiment Assessment</p>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="box-video">
                        <video muted autoplay loop playsinline>
                            <source src="./assets/img/video-s3.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="accordion" data-aos="fade-up">
                        <div class="item active">
                            <div class="header pr">
                                <div class="inner flex-lc">
                                    <h4 class="txt-md">Degen Play</h4>
                                </div>
                            </div>
                            <div class="content">
                                <p>Our AI scans all newly created contracts within a certain timeframe, evaluates them, and provides insights into potential projects. Users can then configure the bot to allocate capital for investments and set expected profit levels accordingly.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="header pr">
                                <div class="inner flex-lc">
                                    <h4 class="txt-md">Sentiment Assessment</h4>
                                </div>
                            </div>
                            <div class="content">
                                <p>It helps users see which tokens are being discussed by the most relevant accounts in the Crypto Twitter space. It allows users to understand which accounts are genuinely good at predicting token performance, as opposed to just promoting their own interests. Additionally, the tool monitors numerous Telegram alpha chats without requiring users to read every single post, saving time and effort spent on scrolling and hours of research.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hawkai-s4 pr">
        <div class="container">
            <div class="header text-center">
                <h2 class="title">Automatically Execute Airdrop Tasks</h2>
                <p class="txt-sm">Simplify your airdrop farming with ease. Our automated bot works across multiple blockchain networks to identify the most beneficial airdrop opportunities, all while ensuring robust security measures are in place to protect our users from hackers and fraudulent activities.</p>
            </div>
            <div class="feature">
                <div class="item pr" data-aos="fade-up">
                    <div class="icon"><img src="./assets/img/automated.svg" alt=""></div>
                    <h4 class="txt-md font-weight-bold lh-sm">Automated Airdrop/ Retroactive Task</h4>
                    <p>Create multiple wallets and automatically participate in airdrops on multiple EVM-compatible chains.</p>
                </div>
                <div class="item pr" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon"><img src="./assets/img/tracking.svg" alt=""></div>
                    <h4 class="txt-md font-weight-bold lh-sm">Airdrop Tracking</h4>
                    <p>Monitor your progress in airdrop farming by keeping track of your participation history, fee spent, number of protocol/contract engaged</p>
                </div>
                <div class="item pr" data-aos="fade-up" data-aos-delay="400">
                    <div class="icon"><img src="./assets/img/detection.svg" alt=""></div>
                    <h4 class="txt-md font-weight-bold lh-sm">Anti-Sybil Detection</h4>
                    <p>Enable Sybil-detection-free airdrop farming by providing curated routes that accurately simulate genuine on-chain interactions.</p>
                </div>
                <div class="item pr" data-aos="fade-up" data-aos-delay="600">
                    <div class="icon"><img src="./assets/img/scan.svg" alt=""></div>
                    <h4 class="txt-md font-weight-bold lh-sm">AI Scan</h4>
                    <p>Search and notify users about potential projects with airdrop opportunities.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="hawkai-s5 pr">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="content">
                        <h2 class="title" data-aos="fade-up">Portfolio Manager</h2>
                        <p class="txt-sm" data-aos="fade-up" data-aos-delay="200">Experience seamless portfolio management with AI-driven auto-rebalancing and auto DCA. HawkAI Bot adapts to your personalized investment strategy, optimizing your portfolio for long-term growth and risk management.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box-video">
                        <video muted autoplay loop playsinline>
                            <source src="./assets/img/video-s5.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hawkai-s6 pr">
        <div class="container">
            <div class="header text-center">
                <h2 class="title">Smart Trading</h2>
                <p class="txt-sm">Enjoy a smooth and exceptionally fast trading experience anywhere, anytime with our Telegram bot, available to use at no cost.</p>
            </div>
            <div class="smart-trading">
                <div class="item" data-aos="fade-up">
                    <div class="flex-lc">
                        <div class="icon flex-center"><img src="./assets/img/clock.svg" width="85" alt=""></div>
                        <div class="content">
                            <h4 class="txt-md font-weight-bold lh-sm">Limit Order</h4>
                            <p>Setup your buy order and profit expection. Implement your strategy with utmost precision.</p>
                        </div>
                    </div>
                </div>
                <div class="item" data-aos="fade-up">
                    <div class="flex-lc">
                        <div class="icon flex-center"><img src="./assets/img/wallet.svg" width="86" alt=""></div>
                        <div class="content">
                            <h4 class="txt-md font-weight-bold lh-sm">Batch Swap For Multi Wallet</h4>
                            <p>Trigger multi buy or sell orders from multi wallets at the same time as your configuration</p>
                        </div>
                    </div>
                </div>
                <div class="item" data-aos="fade-up" data-aos-delay="200">
                    <div class="flex-lc">
                        <div class="icon flex-center"><img src="./assets/img/onchain.svg" width="82" alt=""></div>
                        <div class="content">
                            <h4 class="txt-md font-weight-bold lh-sm">Onchain Copy Trade</h4>
                            <p>Snipe pros traders and replicate their succesful trades</p>
                        </div>
                    </div>
                </div>
                <div class="item" data-aos="fade-up" data-aos-delay="200">
                    <div class="flex-lc">
                        <div class="icon flex-center"><img src="./assets/img/shield.svg" width="78" alt=""></div>
                        <div class="content">
                            <h4 class="txt-md font-weight-bold lh-sm">Confidential Transaction</h4>
                            <p>Protect your trades and outplayed sandwich attacks. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hawkai-s7 pr">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="content">
                        <h2 class="title mb-4" data-aos="fade-up">Bot Revenue Distribution</h2>
                        <p class="txt-sm" data-aos="fade-up" data-aos-delay="200">The rewards are directly linked to the number of tokens held. Token holders receive 40% of transaction fees and 1% of the overall $HAWK trading volume. The rewards are calculated every 2 hours and can be claimed after 24 hours. However, transferring more than 200 tokens within each 2-hour interval will lead to the forfeiture of your revenue share. To be eligible, you must hold a minimum of 50 $HAWK tokens.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box-video">
                        <video muted autoplay loop playsinline>
                            <source src="./assets/img/video-s7.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
            <div class="highcharts-figure flex-center">
                <div class="chart-container" data-aos="zoom-in">
                    <img src="./assets/img/pie-chart.svg" alt="">
                </div>
                <div class="chart-summary" data-aos="fade-in" data-aos-delay="400">
                    <h2 class="title mb-4">Tokenomics</h2>
                    <div class="txt-sm">
                        <p>Total Supply: <span>100,000,000</span></p>
                       <p> Fair Launch Sale: <span>55%</span></p>
                        <p>Liquidity Pool: <span>32.5%</span></p>
                        <p>Community Airdrop: <span>2.5%</span></p>
                        <p>CEX Listing: <span>10%</span></p>
                        <br>
                        <p>Tax: Buy <span>5%</span> / Sell <span>5%</span>"</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hawkai-s8 pr">
        <div class="container pr">
            <div class="content pr">
                <h2 class="title text-center">Roadmap</h2>
                <div class="box-roadmap pr" data-aos="fade">
                    <div class="roadmap">
                        <div class="item">
                            <h4 class="flex-lc txt-md lh-sm font-weight-bold"><span>Phase 1</span></h4>
                            <ul>
                                <li>Website Launch</li>
                                <li>Project Details</li>
                                <li>Create Social Community</li>
                                <li>Before Launch Marketing</li>
                                <li>Launch Day</li>
                                <li>CMC & CG Listing</li>
                            </ul>
                        </div>
                        <div class="item">
                            <h4 class="flex-lc txt-md lh-sm font-weight-bold"><span>Phase 2</span></h4>
                            <ul>
                                <li>Post Launch Aggressive Marketing</li>
                                <li>CEX Listing Reveal</li>
                                <li>Community Campaigns & Growth</li>
                                <li>1000+ Believers</li>
                            </ul>
                        </div>
                        <div class="item">
                            <h4 class="flex-lc txt-md lh-sm font-weight-bold"><span>Phase 3</span></h4>
                            <ul>
                                <li>CEX Listing Announcements</li>
                                <li>Partner With GOD Tier KOL</li>
                                <li>5000+ Believers</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="social lg flex-center">
        <a href="" title="" class="telegram">telegram</a>
        <a href="" title="" class="discord">Discord</a>
        <a href="" title="" class="twitter">twitter</a>
        <a href="" title="" class="youtube">Youtube</a>
    </div>
</footer>