<main>
    <div class="container">
        <div class="box-btn flex">
            <a href="" title="Public Sale">Public Sale</a>
            <button type="button">Referrals</button>
            <button type="button">0xb145...F02D</button>
        </div>
        <div class="category-content">
            <h2 class="title mb-3">Twitter Accounts</h2>
            <form method="" action="" class="box-search flex-lc">
                <div class="item lg flex-lc">
                    <h5>Find all accounts mentioning:</h5>
                    <select name="" class="select2-min-token">
                        <option value="All">All</option>
                    </select>
                </div>
                <div class="item md flex-lc">
                    <h5>in the last</h5>
                    <select name="" class="select2-min">
                        <option value="1 day">1 day</option>
                        <option value="7 days">7 days</option>
                        <option value="30 days">30 days</option>
                        <option value="60 days" selected>60 days</option>
                    </select>
                </div>
                <div class="item right flex-lc">
                    <button type="submit" class="btn-pr flex-center">Search</button>
                </div>
            </form>
            <div class="box-table">
                <div class="table flex">
                    <div class="box-title flex-lc">
                        <div class="col-5 col-md-4">
                            <h4 class="lh-sm font-weight-bold text-center">Accounts</h4>
                        </div>
                        <div class="col-4 col-md-5">
                            <h4 class="lh-sm font-weight-bold text-center">Tokens Mentioned</h4>
                        </div>
                        <div class="col-3">
                            <h4 class="lh-sm font-weight-bold text-center">Token Performance After Tweet</h4>
                        </div>
                    </div>
                    <div class="head flex">
                        <div class="col-3 col-md-2">
                            <h5 class="lh-sm font-weight-bold">Accounts</h5>
                        </div>
                        <div class="col-2">
                            <h5 class="lh-sm font-weight-bold">Followers</h5>
                        </div>
                        <div class="col-4 col-md-5">
                            <h5 class="lh-sm font-weight-bold">Tokens Mentioned In Last 60D</h5>
                        </div>
                        <div class="col-1">
                            <h5 class="lh-sm font-weight-bold">1D</h5>
                        </div>
                        <div class="col-1">
                            <h5 class="flex-center lh-sm font-weight-bold"><i class="icon icon-arrow-down"></i><span>7D</span></h5>
                        </div>
                        <div class="col-1">
                            <h5 class="lh-sm font-weight-bold">30D</h5>
                        </div>
                    </div>
                    <div class="body">
                        <div class="item">
                            <div class="item__header flex">
                                <div class="col-3 col-md-2">
                                    <a href="" class="account flex-lc">
                                        <div class="avatar"><img src="./assets/img/NXuc9OC_normal.jpg" alt="" class="img-fit"></div>
                                        <div class="info">
                                            <div class="name font-weight-bold">Sample Name</div>
                                            <div class="txt">Sample Name</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-2">
                                    <div class="flex-center">
                                        <i class="icon icon-user"></i>
                                        <span class="font-weight-bold">N/A</span>
                                    </div>
                                </div>
                                <div class="col-4 col-md-5">
                                    <div class="tweet-bar flex-lc pr">
                                        <div class="hr"></div>
                                        <div class="tweet" style="left: 5%">
                                            <a href="" title="" target="_blank"><img src="./assets/img/NXuc9OC_normal.jpg" alt=""></a>
                                        </div>
                                        <div class="tweet" style="left: 15%">
                                            <a href="" title="" target="_blank"><img src="./assets/img/logo_smarty-pay.png" alt=""></a>
                                        </div>
                                        <div class="tweet" style="left: 40%">
                                            <a href="" title="" target="_blank"><img src="./assets/img/kEMGnvvW_normal.jpg" alt=""></a>
                                        </div>
                                        <div class="tweet" style="left: 50%">
                                            <a href="" title="" target="_blank"><img src="./assets/img/Magic_Bag.png" alt=""></a>
                                        </div>
                                        <div class="tweet" style="left: 75%">
                                            <a href="" title="" target="_blank"><img src="./assets/img/logo_smarty-pay.png" alt=""></a>
                                        </div>
                                        <div class="tweet" style="left: 85%">
                                            <a href="" title="" target="_blank"><img src="./assets/img/kEMGnvvW_normal.jpg" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-1 flex-center">
                                    <span class="na red">N/A</span>
                                </div>
                                <div class="col-1 flex-center">
                                    <span class="na green">N/A</span>
                                </div>
                                <div class="col-1 flex-center">
                                    <span class="na red">N/A</span>
                                </div>
                            </div>
                            <div class="item__body">
                                <div class="box-list">
                                    <div class="flex">
                                        <div class="col-3 col-md-2"></div>
                                        <div class="col-2"></div>
                                        <div class="col-4 col-md-5 flex-center">
                                            <div class="tweet-bar flex-lc pr">
                                                <div class="hr"></div>
                                                <div class="tweet" style="left: 50%">
                                                    <a href="" title="" target="_blank"><img src="./assets/img/kEMGnvvW_normal.jpg" alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-1 flex-center">
                                            <span class="na red">N/A</span>
                                        </div>
                                        <div class="col-1 flex-center">
                                            <span class="na green">N/A</span>
                                        </div>
                                        <div class="col-1 flex-center">
                                            <san class="na red">N/A</san>
                                        </div>
                                    </div>
                                    <div class="flex">
                                        <div class="col-3 col-md-2"></div>
                                        <div class="col-2"></div>
                                        <div class="col-4 col-md-5 flex-center">
                                            <div class="tweet-bar flex-lc pr">
                                                <div class="hr"></div>
                                                <div class="tweet" style="left: 60%;">
                                                    <a href="" title="" target="_blank"><img src="./assets/img/logo-icon-200x.png" alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-1 flex-center">
                                            <span class="na red">N/A</span>
                                        </div>
                                        <div class="col-1 flex-center">
                                            <span class="na green">N/A</span>
                                        </div>
                                        <div class="col-1 flex-center">
                                            <san class="na red">N/A</san>
                                        </div>
                                    </div>
                                </div>
                                <div class="nav-tokens flex-center">
                                    <div class="mr-4">Showing Tokens <span>1</span> to <span>10</span></div>
                                    <button type="button" class="flex-center btn-prev txt-sm font-weight-bold"><i class="icon icon-arrow"></i><span>Prev</span></button>
                                    <button type="button" class="flex-center btn-next txt-sm font-weight-bold"><span>Next</span><i class="icon icon-arrow"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item__header flex">
                                <div class="col-3 col-md-2">
                                    <a href="" class="account flex-lc">
                                        <div class="avatar"><img src="./assets/img/JGKhYa-y_normal.jpg" alt="" class="img-fit"></div>
                                        <div class="info">
                                            <div class="name font-weight-bold">Sample Name</div>
                                            <div class="txt">Sample Name</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-2">
                                    <div class="flex-center">
                                        <i class="icon icon-user"></i>
                                        <span class="font-weight-bold">N/A</span>
                                    </div>
                                </div>
                                <div class="col-4 col-md-5">
                                    <div class="tweet-bar flex-lc pr">
                                        <div class="hr"></div>
                                        <div class="tweet" style="left: 5%">
                                            <a href="" title="" target="_blank"><img src="./assets/img/NXuc9OC_normal.jpg" alt=""></a>
                                        </div>
                                        <div class="tweet" style="left: 15%">
                                            <a href="" title="" target="_blank"><img src="./assets/img/logo_smarty-pay.png" alt=""></a>
                                        </div>
                                        <div class="tweet" style="left: 40%">
                                            <a href="" title="" target="_blank"><img src="./assets/img/kEMGnvvW_normal.jpg" alt=""></a>
                                        </div>
                                        <div class="tweet" style="left: 50%">
                                            <a href="" title="" target="_blank"><img src="./assets/img/Magic_Bag.png" alt=""></a>
                                        </div>
                                        <div class="tweet" style="left: 75%">
                                            <a href="" title="" target="_blank"><img src="./assets/img/logo_smarty-pay.png" alt=""></a>
                                        </div>
                                        <div class="tweet" style="left: 85%">
                                            <a href="" title="" target="_blank"><img src="./assets/img/kEMGnvvW_normal.jpg" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-1 flex-center">
                                    <span class="na red">N/A</span>
                                </div>
                                <div class="col-1 flex-center">
                                    <span class="na green">N/A</span>
                                </div>
                                <div class="col-1 flex-center">
                                    <span class="na red">N/A</span>
                                </div>
                            </div>
                            <div class="item__body">
                                <div class="box-list">
                                    <div class="flex">
                                        <div class="col-3 col-md-2"></div>
                                        <div class="col-2"></div>
                                        <div class="col-4 col-md-5 flex-center">
                                            <div class="tweet-bar flex-lc pr">
                                                <div class="hr"></div>
                                                <div class="tweet" style="left: 50%">
                                                    <a href="" title="" target="_blank"><img src="./assets/img/kEMGnvvW_normal.jpg" alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-1 flex-center">
                                            <span class="na red">N/A</span>
                                        </div>
                                        <div class="col-1 flex-center">
                                            <span class="na green">N/A</span>
                                        </div>
                                        <div class="col-1 flex-center">
                                            <san class="na red">N/A</san>
                                        </div>
                                    </div>
                                    <div class="flex">
                                        <div class="col-3 col-md-2"></div>
                                        <div class="col-2"></div>
                                        <div class="col-4 col-md-5 flex-center">
                                            <div class="tweet-bar flex-lc pr">
                                                <div class="hr"></div>
                                                <div class="tweet" style="left: 60%;">
                                                    <a href="" title="" target="_blank"><img src="./assets/img/logo-icon-200x.png" alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-1 flex-center">
                                            <span class="na red">N/A</span>
                                        </div>
                                        <div class="col-1 flex-center">
                                            <span class="na green">N/A</span>
                                        </div>
                                        <div class="col-1 flex-center">
                                            <san class="na red">N/A</san>
                                        </div>
                                    </div>
                                </div>
                                <div class="nav-tokens flex-center">
                                    <div class="mr-4">Showing Tokens <span>1</span> to <span>10</span></div>
                                    <button type="button" class="flex-center btn-prev txt-sm font-weight-bold"><i class="icon icon-arrow"></i><span>Prev</span></button>
                                    <button type="button" class="flex-center btn-next txt-sm font-weight-bold"><span>Next</span><i class="icon icon-arrow"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item__header flex">
                                <div class="col-3 col-md-2">
                                    <a href="" class="account flex-lc">
                                        <div class="avatar"><img src="./assets/img/kEMGnvvW_normal.jpg" alt="" class="img-fit"></div>
                                        <div class="info">
                                            <div class="name font-weight-bold">Sample Name</div>
                                            <div class="txt">Sample Name</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-2">
                                    <div class="flex-center">
                                        <i class="icon icon-user"></i>
                                        <span class="font-weight-bold">N/A</span>
                                    </div>
                                </div>
                                <div class="col-4 col-md-5">
                                    <div class="tweet-bar flex-lc pr">
                                        <div class="hr"></div>
                                        <div class="tweet" style="left: 5%">
                                            <a href="" title="" target="_blank"><img src="./assets/img/NXuc9OC_normal.jpg" alt=""></a>
                                        </div>
                                        <div class="tweet" style="left: 15%">
                                            <a href="" title="" target="_blank"><img src="./assets/img/logo_smarty-pay.png" alt=""></a>
                                        </div>
                                        <div class="tweet" style="left: 40%">
                                            <a href="" title="" target="_blank"><img src="./assets/img/kEMGnvvW_normal.jpg" alt=""></a>
                                        </div>
                                        <div class="tweet" style="left: 50%">
                                            <a href="" title="" target="_blank"><img src="./assets/img/Magic_Bag.png" alt=""></a>
                                        </div>
                                        <div class="tweet" style="left: 75%">
                                            <a href="" title="" target="_blank"><img src="./assets/img/logo_smarty-pay.png" alt=""></a>
                                        </div>
                                        <div class="tweet" style="left: 85%">
                                            <a href="" title="" target="_blank"><img src="./assets/img/kEMGnvvW_normal.jpg" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-1 flex-center">
                                    <span class="na red">N/A</span>
                                </div>
                                <div class="col-1 flex-center">
                                    <span class="na green">N/A</span>
                                </div>
                                <div class="col-1 flex-center">
                                    <span class="na red">N/A</span>
                                </div>
                            </div>
                            <div class="item__body">
                                <div class="box-list">
                                    <div class="flex">
                                        <div class="col-3 col-md-2"></div>
                                        <div class="col-2"></div>
                                        <div class="col-4 col-md-5 flex-center">
                                            <div class="tweet-bar flex-lc pr">
                                                <div class="hr"></div>
                                                <div class="tweet" style="left: 50%">
                                                    <a href="" title="" target="_blank"><img src="./assets/img/kEMGnvvW_normal.jpg" alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-1 flex-center">
                                            <span class="na red">N/A</span>
                                        </div>
                                        <div class="col-1 flex-center">
                                            <span class="na green">N/A</span>
                                        </div>
                                        <div class="col-1 flex-center">
                                            <san class="na red">N/A</san>
                                        </div>
                                    </div>
                                    <div class="flex">
                                        <div class="col-3 col-md-2"></div>
                                        <div class="col-2"></div>
                                        <div class="col-4 col-md-5 flex-center">
                                            <div class="tweet-bar flex-lc pr">
                                                <div class="hr"></div>
                                                <div class="tweet" style="left: 60%;">
                                                    <a href="" title="" target="_blank"><img src="./assets/img/logo-icon-200x.png" alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-1 flex-center">
                                            <span class="na red">N/A</span>
                                        </div>
                                        <div class="col-1 flex-center">
                                            <span class="na green">N/A</span>
                                        </div>
                                        <div class="col-1 flex-center">
                                            <san class="na red">N/A</san>
                                        </div>
                                    </div>
                                </div>
                                <div class="nav-tokens flex-center">
                                    <div class="mr-4">Showing Tokens <span>1</span> to <span>10</span></div>
                                    <button type="button" class="flex-center btn-prev txt-sm font-weight-bold"><i class="icon icon-arrow"></i><span>Prev</span></button>
                                    <button type="button" class="flex-center btn-next txt-sm font-weight-bold"><span>Next</span><i class="icon icon-arrow"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item__header flex">
                                <div class="col-3 col-md-2">
                                    <a href="" class="account flex-lc">
                                        <div class="avatar"><img src="./assets/img/avatar.png" alt="" class="img-fit"></div>
                                        <div class="info">
                                            <div class="name font-weight-bold">Sample Name</div>
                                            <div class="txt">Sample Name</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-2">
                                    <div class="flex-center">
                                        <i class="icon icon-user"></i>
                                        <span class="font-weight-bold">N/A</span>
                                    </div>
                                </div>
                                <div class="col-4 col-md-5">
                                    <div class="tweet-bar flex-lc pr">
                                        <div class="hr"></div>
                                        <div class="tweet" style="left: 5%">
                                            <a href="" title="" target="_blank"><img src="./assets/img/NXuc9OC_normal.jpg" alt=""></a>
                                        </div>
                                        <div class="tweet" style="left: 15%">
                                            <a href="" title="" target="_blank"><img src="./assets/img/logo_smarty-pay.png" alt=""></a>
                                        </div>
                                        <div class="tweet" style="left: 40%">
                                            <a href="" title="" target="_blank"><img src="./assets/img/kEMGnvvW_normal.jpg" alt=""></a>
                                        </div>
                                        <div class="tweet" style="left: 50%">
                                            <a href="" title="" target="_blank"><img src="./assets/img/Magic_Bag.png" alt=""></a>
                                        </div>
                                        <div class="tweet" style="left: 75%">
                                            <a href="" title="" target="_blank"><img src="./assets/img/logo_smarty-pay.png" alt=""></a>
                                        </div>
                                        <div class="tweet" style="left: 85%">
                                            <a href="" title="" target="_blank"><img src="./assets/img/kEMGnvvW_normal.jpg" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-1 flex-center">
                                    <span class="na red">N/A</span>
                                </div>
                                <div class="col-1 flex-center">
                                    <span class="na green">N/A</span>
                                </div>
                                <div class="col-1 flex-center">
                                    <span class="na red">N/A</span>
                                </div>
                            </div>
                            <div class="item__body">
                                <div class="box-list">
                                    <div class="flex">
                                        <div class="col-3 col-md-2"></div>
                                        <div class="col-2"></div>
                                        <div class="col-4 col-md-5 flex-center">
                                            <div class="tweet-bar flex-lc pr">
                                                <div class="hr"></div>
                                                <div class="tweet" style="left: 50%">
                                                    <a href="" title="" target="_blank"><img src="./assets/img/kEMGnvvW_normal.jpg" alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-1 flex-center">
                                            <span class="na red">N/A</span>
                                        </div>
                                        <div class="col-1 flex-center">
                                            <span class="na green">N/A</span>
                                        </div>
                                        <div class="col-1 flex-center">
                                            <san class="na red">N/A</san>
                                        </div>
                                    </div>
                                    <div class="flex">
                                        <div class="col-3 col-md-2"></div>
                                        <div class="col-2"></div>
                                        <div class="col-4 col-md-5 flex-center">
                                            <div class="tweet-bar flex-lc pr">
                                                <div class="hr"></div>
                                                <div class="tweet" style="left: 60%;">
                                                    <a href="" title="" target="_blank"><img src="./assets/img/logo-icon-200x.png" alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-1 flex-center">
                                            <span class="na red">N/A</span>
                                        </div>
                                        <div class="col-1 flex-center">
                                            <span class="na green">N/A</span>
                                        </div>
                                        <div class="col-1 flex-center">
                                            <san class="na red">N/A</san>
                                        </div>
                                    </div>
                                </div>
                                <div class="nav-tokens flex-center">
                                    <div class="mr-4">Showing Tokens <span>1</span> to <span>10</span></div>
                                    <button type="button" class="flex-center btn-prev txt-sm font-weight-bold"><i class="icon icon-arrow"></i><span>Prev</span></button>
                                    <button type="button" class="flex-center btn-next txt-sm font-weight-bold"><span>Next</span><i class="icon icon-arrow"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav-tokens flex-center mt-5 py-4">
                <div class="mb-2 w-100 text-center">Showing Tokens <span>1</span> to <span>25</span></div>
                <button type="button" class="flex-center btn-prev txt-sm font-weight-bold"><i class="icon icon-arrow"></i><span>Prev</span></button>
                <button type="button" class="flex-center btn-next txt-sm font-weight-bold"><span>Next</span><i class="icon icon-arrow"></i></button>
            </div>
        </div>
    </div>
</main>
