<main>
    <div class="container">
        <div class="box-btn flex">
            <a href="" title="Public Sale">Public Sale</a>
            <button type="button">Referrals</button>
            <button type="button">0xb145...F02D</button>
        </div>
        <div class="category-content">
            <h2 class="title mb-3">View by Token</h2>
            <form method="" action="" class="box-search flex-lc">
                <div class="item lg flex-lc">
                    <h5>Filters results for accounts</h5>
                    <select name="" class="select2-min-token">
                        <option value="All">All</option>
                    </select>
                </div>
                <div class="item sm flex-lc">
                    <h5>in the last</h5>
                    <select name="" class="select2-min">
                        <option value="1 day">1 day</option>
                        <option value="7 days">7 days</option>
                        <option value="30 days">30 days</option>
                        <option value="60 days" selected>60 days</option>
                    </select>
                </div>
                <div class="item right flex-lc">
                    <button type="button" class="btn-filter flex-center txt-sm"><span>Advanced Filters</span><i class="icon icon-arrow-up"></i></button>
                    <button type="button" class="btn-pr flex-center">Search</button>
                </div>
            </form>
            <div class="box-table">
                <div class="table">
                    <table>
                        <thead>
                        <tr>
                            <td colspan="2"><h4 class="lh-sm font-weight-bold text-center">Token Mentions</h4></td>
                            <td colspan="3"><h4 class="lh-sm font-weight-bold text-center">Key Mentions</h4></td>
                            <td colspan="4"><h4 class="lh-sm font-weight-bold text-center">Token Price</h4></td>
                        </tr>
                        <tr>
                            <th>Token</th>
                            <th><div class="flex-center"><i class="icon icon-arrow-up"></i><span>Key Mentions Last 30D</span></div></th>
                            <th>1D</th>
                            <th>7D</th>
                            <th>30D</th>
                            <th>12H</th>
                            <th>1D</th>
                            <th>7D</th>
                            <th>30D</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <a href="" class="account flex-lc">
                                    <div class="avatar"><img src="./assets/img/NXuc9OC_normal.jpg" alt="" class="img-fit"></div>
                                    <div class="info">
                                        <div class="name font-weight-bold">Sample Name</div>
                                        <div class="txt">Sample Name</div>
                                    </div>
                                </a>
                            </td>
                            <td>
                                <div class="tweet-bar flex-lc pr">
                                    <div class="hr"></div>
                                    <div class="tweet" style="left: 25%;">
                                        <a href="" title="" target="_blank"><img src="./assets/img/Magic_Bag.png" alt=""></a>
                                    </div>
                                </div>
                            </td>
                            <td>0</td>
                            <td>0</td>
                            <td>1</td>
                            <td><div class="flex-center"><span class="na red">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na red">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na red">N/A</span></div></td>
                        </tr>
                        <tr>
                            <td>
                                <a href="" class="account flex-lc">
                                    <div class="avatar"><img src="./assets/img/kEMGnvvW_normal.jpg" alt="" class="img-fit"></div>
                                    <div class="info">
                                        <div class="name font-weight-bold">Sample Name</div>
                                        <div class="txt">Sample Name</div>
                                    </div>
                                </a>
                            </td>
                            <td>
                                <div class="tweet-bar flex-lc pr">
                                    <div class="hr"></div>
                                    <div class="tweet" style="left: 35%;">
                                        <a href="" title="" target="_blank"><img src="./assets/img/NXuc9OC_normal.jpg" alt=""></a>
                                    </div>
                                </div>
                            </td>
                            <td>0</td>
                            <td>0</td>
                            <td>1</td>
                            <td><div class="flex-center"><span class="na red">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na red">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na red">N/A</span></div></td>
                        </tr>
                        <tr>
                            <td>
                                <a href="" class="account flex-lc">
                                    <div class="avatar"><img src="./assets/img/JGKhYa-y_normal.jpg" alt="" class="img-fit"></div>
                                    <div class="info">
                                        <div class="name font-weight-bold">Sample Name</div>
                                        <div class="txt">Sample Name</div>
                                    </div>
                                </a>
                            </td>
                            <td>
                                <div class="tweet-bar flex-lc pr">
                                    <div class="hr"></div>
                                    <div class="tweet" style="left: 50%;">
                                        <a href="" title="" target="_blank"><img src="./assets/img/NXuc9OC_normal.jpg" alt=""></a>
                                    </div>
                                </div>
                            </td>
                            <td>0</td>
                            <td>0</td>
                            <td>1</td>
                            <td><div class="flex-center"><span class="na red">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na red">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na red">N/A</span></div></td>
                        </tr>
                        <tr>
                            <td>
                                <a href="" class="account flex-lc">
                                    <div class="avatar"><img src="./assets/img/NXuc9OC_normal.jpg" alt="" class="img-fit"></div>
                                    <div class="info">
                                        <div class="name font-weight-bold">Sample Name</div>
                                        <div class="txt">Sample Name</div>
                                    </div>
                                </a>
                            </td>
                            <td>
                                <div class="tweet-bar flex-lc pr">
                                    <div class="hr"></div>
                                    <div class="tweet" style="left: 30%;">
                                        <a href="" title="" target="_blank"><img src="./assets/img/Magic_Bag.png" alt=""></a>
                                    </div>
                                </div>
                            </td>
                            <td>0</td>
                            <td>0</td>
                            <td>1</td>
                            <td><div class="flex-center"><span class="na red">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na green">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na red">N/A</span></div></td>
                            <td><div class="flex-center"><span class="na red">N/A</span></div></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="nav-tokens flex-center mt-5">
                <div class="mb-2 w-100 text-center">Showing Tokens <span>1</span> to <span>25</span></div>
                <button type="button" class="flex-center btn-prev txt-sm font-weight-bold"><i class="icon icon-arrow"></i><span>Prev</span></button>
                <button type="button" class="flex-center btn-next txt-sm font-weight-bold"><span>Next</span><i class="icon icon-arrow"></i></button>
            </div>
        </div>
    </div>
</main>
