:root{
  --p1: #94529F;
  --p2: #7C287D;
  --dpg2: #531C56;
}
body{
  background: #060107;
  font-family: 'Hind', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #F5F5F5;
  line-height: 1.6;
  overflow-x: hidden;
  &::-webkit-scrollbar{width: 6px;}
  &::-webkit-scrollbar-track{background: #ccc;}
  &::-webkit-scrollbar-thumb{background: #888;}
}
@mixin hover{filter: saturate(1.9); -webkit-filter: saturate(1.9);}
a{transition: .25s;}
a:hover{text-decoration: none;}

//header
header{
  width: 100%; position: fixed; background: #261122; top: 0; left: 0; z-index: 9;
  .container-fluid{padding: 0 160px;}
  .social{
    position: absolute; left: 50%; transform: translateX(-50%);
  }
  .navbar{padding: 14px 0;}
  .navbar-toggle{display: none;}
  .btn-buy,.btn-dapp{
    padding: 5px 22.5px 3px;
    background: var(--p1);
    margin-left: auto;
    border-radius: 9px;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    &:hover{background: #894195;}
  }
  .logo{width: 275px;}
}
.navbar{
  height: 100%; width: 100%;
  display: flex; align-items: center; justify-content: flex-start;
  margin: 0 auto; padding: 20px 0;
  border-radius: 0; border: none;
  transition: .3s;
}

.navbar-collapse{
  padding: 0; justify-content: flex-start;
  .close{display: none;}
  .social{position: relative; left: 0; transform: translateX(0); margin-left: auto;}
}
.navbar-nav{
  margin: 0 0 0 auto; align-items: center;
  >*+*{margin-left: 35px;}
  > li{display: flex; flex-wrap: wrap; align-items: center; position: relative;}
  > li > a{display: block; font-size: 20px; font-weight: 700; color: #F5F5F5; line-height: 30px; position: relative;}
  .active,a:hover{color: #7C287D;}
}
.social{
  >*+*{margin-left: 80px;}
  &.lg{
    a{height: 35px; width: 43px;}
    .discord{width: 48px;}
    .youtube{width: 51px;}
  }
  a{display: block; width: 31px; height: 25px; font-size: 0;}
  a:hover{filter: saturate(1.4); -webkit-filter: saturate(1.5);}
  .discord{width: 34px; background: url("#{$img-path}/discord.svg") no-repeat 0 0/contain;}
  .telegram{background: url("#{$img-path}/telegram.svg") no-repeat 0 0/contain;}
  .twitter{background: url("#{$img-path}/twitter.svg") no-repeat 0 0/contain;}
  .youtube{background: url("#{$img-path}/youtube.svg") no-repeat 0 0/contain;}
}
main{padding-top: 79px; overflow: hidden;}
.hawkai-s1{
  padding: 169px 0 231px;
  .decor{
    width: 100%; height: 100%;
    position: absolute; top: 0; left: 0;
    animation: pulse 1.2s infinite linear;
    span{width: 57px; height: 56px; background: url("#{$img-path}/decor-s1.svg") no-repeat 0 0/contain; position: absolute;}
    span:nth-child(1){top: 45px; left: 45px;}
    span:nth-child(2){top: 45px; right: 45px; transform: rotate(90deg);}
    span:nth-child(3){bottom: 45px; left: 45px; transform: rotate(-90deg);}
    span:nth-child(4){bottom: 45px; right: 45px; transform: rotate(180deg);}
  }
  .content{
    padding: 72px 46px 149px;
    max-width: 880px; margin: 0 auto;
    border-radius: 35px;
    background: rgba(#261122,.5);
    &::after{
      content: "";
      width: calc(100% - 92px); height: calc(100% - 90px);
      display: none;
      background: url("#{$img-path}/corner.svg") no-repeat 0 0/100% 100%;
      position: absolute; left: 0; right: 0; margin: 0 auto; top: 45px;
      animation: pulse 1.5s infinite linear;
    }
  }
  .box-video{
    width: 100%; height: 100%;
    position: absolute; top: 0; left: 0; z-index: -1;
  }
  .img-wrapper img{display: block; margin: 0 auto 34px; animation: flash 1s infinite linear;}
  h1{
    margin-bottom: 25px;
    font: 60px/60px 'Bungee Inline', sans-serif;
    color: #E191EE;
  }
  p{min-height: 155px;}
}
.hawkai-s2{
  padding-bottom: 33px;
  .container{padding: 0 10px;}
  .title{margin-bottom: 35px;}
  .box-guide{
    padding: 55px 40px 60px;
    background: #261122;
    border-radius: 9999px;
    overflow: auto;
  }
  .guide-step{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    >*+*{
      &::before,&::after{content: ""; position: absolute; top: 50%; transform: translateY(-50%);}
      &::before{
        width: 2px; height: 216px;
        background: url("#{$img-path}/line.png") no-repeat 0 0/contain;
        left: -1px; opacity: .8;
      }
      &::after{
        width: 58px; height: 58px;
        background: url("#{$img-path}/next.svg") no-repeat 0 0/contain;
        left: -29px;
      }
    }
  }
  .item{
    padding: 0 44px; position: relative;
    h4{flex: 1; padding-left: 12px; font-weight: 700; line-height: 30px; color: #E191EE;}
    .text{margin-top: 34px; max-width: 301px; font-weight: 300;}
    span{color: #E191EE;}
  }
  .stt{
    width: 34px; height: 34px;
    background: #F5F5F5;
    border-radius: 50%;
    font-weight: 700;
    font-size: 24px;
    color: var(--p1);
  }
}
.hawkai-s3{
  padding: 163px 0 110px;
  background: linear-gradient(0deg, rgba(83, 28, 86, 0.39) 0%, rgba(83, 28, 86, 0.00) 100%);
  .header{margin-bottom: 80px;}
  .accordion{
    padding-left: 10px;
    min-height: 415px;
    position: relative; z-index: 2;
    >*+*{margin-top: 25px;}
    .active .header{
      .inner{background: linear-gradient(180deg, #531C56 0.00%, #261122 100%);}
      &::after{background: url("#{$img-path}/arrow-down-1.svg") no-repeat 0 0/contain;transform: translateY(-50%) rotate(180deg);}
    }
    .header{
      padding: 2px;
      margin-bottom: 0;
      cursor: pointer;
      .inner{
        padding: 18.5px 22px;
        padding-right: 45px;
        border-radius: 9px;
        background: linear-gradient(#8e4f9a,#160717);
      }
      h4{flex: 1;}
      &::before{
        content: "";
        width: 100%; height: 100%;
        background: linear-gradient(#5c2360,#92519d); border-radius: 9px;
        position: absolute; left: 0; top: 0; z-index: -1;
      }
      &::after{
        content: "";
        width: 20px; height: 12px;
        background: url("#{$img-path}/arrow-down.svg") no-repeat 0 0/contain;
        position: absolute; right: 19px; top: 50%; transform: translateY(-50%) rotate(0deg);
      }
    }
    .content{
      padding: 22px 0 0px 24px;
      font-size: 20px;
    }
    h4{font-weight: 700; line-height: 30px;}
  }
}
.hawkai-s4{
  padding: 165px 0 188px;
  &::after,&::before{content: ""; position: absolute; z-index: -1;}
  &::after{
    width: 100%; height: 100%;
    background: linear-gradient(180deg, #531C56 0.00%, #261122 100%);
    opacity: .55;
    top: 0; left: 0;
  }
  &::before{
    width: 1920px; height: 1766px;
    background: url("#{$img-path}/bg-decor.svg") no-repeat 0 0/contain;
    left: 0; top: -230px;
  }
  .container{
    &::before,&::after{content: ""; position: absolute;}
    &::before{
      width: 555px; height: 865px;
      background: url("#{$img-path}/decor-a-1.png") no-repeat 0 0/contain;
      left: 0; bottom: -103px;
    }
    &::after{
      width: 530px; height: 732px;
      background: url("#{$img-path}/decor-a-2.png") no-repeat 0 0/contain;
      right: 0; top: -254px;
    }
  }
  .header{
    margin-bottom: 65px;
    .title{margin-bottom: 25px;}
    p{max-width: 950px; margin: 0 auto;}
  }
  .feature{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
  }
  .item::after{
    content: "";
    width: 100%; height: 100%;
    background: linear-gradient(180deg, #94529F 0%, rgba(148, 82, 159, 0.00) 100%);
    opacity: .5;
    position: absolute; top: 0; left: 0; z-index: -1;
  }
  .item{
    padding: 102px 20px 47px;
    .icon{
      margin-bottom: 55px;
      img{display: block; margin: 0 auto;}
    }
    h4{margin-bottom: 14px; min-height: 60px; color: #E191EE;}
  }
}
.hawkai-s5{
  padding: 145px 0 120px;
  &::after{
    content: "";
    height: 100%; width: 89%;
    background: linear-gradient(270deg, rgba(83, 28, 86, 0.74) 0%, rgba(83, 28, 86, 0.00) 90%);
    position: absolute; right: 0; top: 0; z-index: -1;
  }
  .title{margin-bottom: 25px;}
}
.hawkai-s6{
  padding: 168px 0;
  background: url("#{$img-path}/bg-smart.png") no-repeat 50% 0/cover;
  .header{max-width: 945px; margin: 0 auto 60px;}
  .title{margin-bottom: 25px;}
  .tab{
    width: 465px;
    >*+*{margin-top: 42px;}
    li{width: 100%; padding: 2px; position: relative;}
    li:after{
      content: "";
      width: 100%; height: 100%;
      background: linear-gradient(#5c2360,#92519d); border-radius: 9px;
      position: absolute; left: 0; top: 0; z-index: -1;
    }
    li a{
      width: 100%;
      padding: 18.5px 40px 18.5px 25px;
      border-radius: 9px;
      background: linear-gradient(180deg, #531C56 0.00%, #261122 100%);
      position: relative;
      &::before{
        content: "";
        width: 100%; height: 100%; display: none;
        background: url("#{$img-path}/line-1.svg") no-repeat 0 0/100% 100%;
        position: absolute; left: 0; top: 0;
      }
      &::after{
        content: "";
        width: 20px; height: 12px;
        background: url("#{$img-path}/arrow-down-1.svg") no-repeat 0 0/contain;
        position: absolute; right: 19px; top: 50%; transform: translateY(-50%) rotate(-90deg);
      }
    }
    .icon{margin-right: 14px;}
    span{color: #fff;}
    .txt-md{flex: 1;}
    .active{
      background: linear-gradient(#8e4f9a,#301642);
      &::after{background: url("#{$img-path}/arrow-down.svg") no-repeat 0 0/contain;}
    }
  }
  .tab-content{
    width: 627px;
    .text{margin: 24px 0 65px;}
  }
  .box-video{
    width: 100%; height: 350px;
    border-radius: 25px;
    background: linear-gradient(180deg, #531C56 0%, #94529F 100%);
    overflow: hidden;
    video,iframe{width: 100%; height: 100%; object-fit: cover;}
  }
  .smart-trading{
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 545px));
    grid-row-gap: 40px;
    grid-column-gap: 20px;
    justify-content: center;
    .item{
      background: linear-gradient(rgba(#5c2360,.9), rgba(#92519d,.9)); padding: 2px; border-radius: 9px;
      >div{padding: 15px 0; height: 100%; background: linear-gradient(#8e4f9a, #301642); border-radius: 9px;}
      .icon{width: 150px;}
      .content{width: calc(100% - 150px); min-height: 111px; padding: 0 26px 0 38px; background: url("#{$img-path}/line-5.png") no-repeat left center/contain;}
      h4{margin-bottom: 5px;}
    }
  }
}
.hawkai-s7{
  padding: 170px 0;
  &::after{
    content: "";
    height: 100%; width: 89%;
    background: linear-gradient(270deg, rgba(83, 28, 86, 0.74) 0%, rgba(83, 28, 86, 0.00) 100%);
    position: absolute; right: 0; top: 0; z-index: -1;
  }
  .row{margin: 0;}
  .col-md-6{padding: 0;}
  .title{font-size: 40px;}
  p{max-width: 625px;}
  .highcharts-figure{margin-top: 135px;}
  .chart-summary{
    padding: 80px 0 0 52px;
    p span{color: #E191EE;}
  }
}
.hawkai-s8{
  padding: 130px 0;
  &::after{
    content: "";
    opacity: 0.3499999940395355;
    background: linear-gradient(180deg, #531C56 0.00%, #261122 100%);
    width: 100%; height: 100%;
    position: absolute; top: 0; left: 0; z-index: -1;
  }
  &::before{
    content: "";
    width: 558px; height: 865px;
    background: url("#{$img-path}/decor-r-3.png") no-repeat 0 0/contain;
    position: absolute; top: -275px; left: 0; z-index: -1;
  }
  .title{margin-bottom: 40px;}
  .container{
    max-width: 1415px;
    &::before,&::after{content: ""; position: absolute; z-index: -1;}
    &::before{
      width: 865px; height: 761px;
      background: url("#{$img-path}/decor-r-1.png") no-repeat 0 0/contain;
      left: -153px; bottom: -132px;
    }
    &::after{
      width: 674px; height: 877px;
      background: url("#{$img-path}/decor-r-2.png") no-repeat 0 0/contain;
      top: -385px; right: -252px;
    }
  }
  .content{
    padding: 85px 95px;
    &::after{
      content: "";
      width: 100%; height: 100%;
      border-radius: 35px;
      background: linear-gradient(180deg, #F5F5F5 0%, rgba(245, 245, 245, 0.00) 100%);
      opacity: .1;
      position: absolute; top: 0; left: 0;
    }
  }
  .box-roadmap{
    width: 100%;
    overflow: auto;
    border: 2px solid var(--p1);
    padding: 20px 0; z-index: 2;
  }
  .roadmap{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    min-width: 760px;
    >*+*{
      &::after,&::before{content: ""; position: absolute;}
      &::after{
        content: "";
        width: 2px; height: 100%;
        background: url("#{$img-path}/line-4.png") no-repeat 0 0/100% 100%;
        top: 0; left: -1px;
      }
      &::before{
        width: 58px; height: 58px;
        background: url("#{$img-path}/next-1.svg") no-repeat 0 0/contain;
        left: -29px; top: 15px; z-index: 1;
      }
    }
    .item{padding: 29px 6px 0; position: relative;}
    h4{
      color: #E191EE; flex-wrap: nowrap;
      &::after,&::before{
        content: ""; display: block; height: 2px;
      }
      &::before{
        width: 55px;
        background: url("#{$img-path}/line-3.png") no-repeat 0 0/contain;
      }
      &::after{
        width: 60%;
        background: url("#{$img-path}/line-2.png") no-repeat 0 0/contain;
      }
      span{padding: 0 14px; white-space: nowrap;}
    }
    ul{
      padding: 47px 44px;
      font-size: 18px;
      >*+*{margin-top: 20px;}
      li{display: flex; align-items: center; padding-left: 24px; list-style: none; position: relative;}
      li::before{
        content: "";
        width: 12px; height: 12px; border-radius: 50%;
        background: var(--p1);
        position: absolute; top: 5px; left: 0;
      }
    }
  }
}

//category
.category{
  main{background: linear-gradient(180deg, rgba(#531C56,.55) 0.00%, #261122 100%);}
  .box-btn{
    margin-top: 58px;
    justify-content: flex-end;
    flex-wrap: nowrap;
    >*+*{margin-left: 23px;}
    a,button{
      width: 163px; height: 40px;
      padding: 0 5px;
      display: flex; align-items: center; justify-content: center;
      background: var(--p1); border-radius: 9px;
      font-size: 20px; font-weight: 700;
      color: #fff; white-space: nowrap;
    }
    a:hover{background: var(--p2);}
  }
}
.category-content{
  margin-top: 80px;
  padding-bottom: 50px;
}
.box-search{
  padding: 38px 40px 54px;
  margin-bottom: 36px;
  background: linear-gradient(180deg, rgba(#94529F,.5) 0%, rgba(148, 82, 159, 0.00) 100%);
  >*+*{margin-left: 22px;}
  .item{
    &.right{margin-left: auto;}
    &.lg{
      .select2-container{min-width: 228px;}
      .select2-search--dropdown{display: block !important;}
    }
    &.md{
      .select2-container{min-width: 172px;}
    }
    &.xs .select2-container{min-width: 102px;}
    &.sm .select2-container{min-width: 126px;}
  }
  .btn-filter{
    width: 220px;
    height: 40px;
    margin-right: 24px;
    border-radius: 9px;
    background: var(--p1);
    font-weight: 700;
    color: #fff;
    .icon-arrow-up{width: 15px; height: 9px; margin-left: 10px; background: url("#{$img-path}/arrow-up.svg") no-repeat;}
  }
  h5{
    margin: 0 15px 0 0;
    font-size: 16px;
    font-weight: 700;
  }
}
.box-table{
  padding: 17px 24px;
  background: linear-gradient(180deg, rgba(#94529F,.3) 0%, rgba(148, 82, 159, 0.00) 100%);
  line-height: 1.44;
  overflow: auto;
  table{
    border: none; width: 100%;
    .account{
      flex-wrap: nowrap;
      &::before{display: none;}
    }
  }
  .table{
    margin-bottom: 0;
    > div{width: 100%;}
    thead{
      th:nth-child(1){text-align: left;}
      th{border-bottom: 1px solid var(--p2); border-top: none; font-size: 19px;}
      td{padding: 0 0 12px; border-bottom: none;}
      tr td:first-child{text-align: left;}
    }
    th,td{padding: .63rem 1rem; text-align: center;}
    td{border-bottom: 1px solid var(--p2); border-top: none; vertical-align: middle;}
  }
  .head{
    border-bottom: 1px solid var(--p2);
    > div{padding: 10px 0; text-align: center;}
    > div:first-child{padding-right: 30px;}
    h5{margin-bottom: 0; font-size: 18px;}
  }
  .box-title{
    margin-bottom: 10px;
    h4{font-size: 21px;}
    > div{padding: 0;}
  }
  .item{
    border-bottom: 1px solid var(--p2);
    &__header{align-items: center; cursor: pointer;}
    &__body{
      display: none;
    }
    .box-list{
      > div{padding-top: 11px; padding-bottom: 11px; border-top: 1px solid var(--p2);}
    }
    .nav-tokens{padding: 16px 0 34px;}
    &.active{
      .item__body{display: block;}
      .account::before{transform: rotate(180deg);}
    }
    .col-2,.col-5,.col-1,.col-3{padding: 10px 12px;}
  }
  .account{
    color: #F5F5F5;
    &::before{
      content: "";
      width: 20px; height: 12px;
      display: block; margin-right: 15px;
      background: url("#{$img-path}/arrow-down-1.svg") no-repeat 0 0/contain;
      transition: .25s;
    }
    .avatar{width: 31px; height: 31px; border-radius: 50%; overflow: hidden;}
    .info{padding-left: 13px; text-align: left; flex: 1;}
  }
  .icon-user{
    width: 18px; height: 19px;
    margin: -9px 6px 0 0;
    background: url("#{$img-path}/icon-human.svg") no-repeat;
  }
  .icon-arrow-down,.icon-arrow-up{
    width: 9px; height: 14px;
    background: url("#{$img-path}/arrow-down-2.svg") no-repeat;
    margin-right: 3px;
  }
  .icon-arrow-up{transform: rotate(180deg); margin-bottom: 6px;}
  .na{
    display: inline-block;
    border-radius: 5px;
    padding: 2px 14px 0;
    &.red{background: rgba(#FF8787,.2); color: #FF4747;}
    &.green{background: rgba(#00FACF,.2); color: #00FACF;}
  }
}
.tweet-bar{
  width: 100%;
  height: 22px;
  max-width: 378px; margin: 0 auto;
  .hr{width: 100%; height: 1px; background: #F5F5F5;}
  .tweet{
    position: absolute; width: 24px; height: 24px;
    img{width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
  }
}


footer{
  background: #000; padding: 67px 0;
  &.sm{padding: 45px 0;}
}

.highcharts-container{
  svg{width: 100%;}
}
.highcharts-credits{display: none;}
.highcharts-series path{stroke: none;}
.highcharts-label{
  text{color: #fff !important; fill: #fff !important; font-weight: 400 !important; font-size: 16px !important; font-family: 'Cantora One', sans-serif;}
  .highcharts-text-outline{stroke: none;}
}

.select2-container{
  background: transparent;
  border-radius: 9px;
  font-family: 'Hind', sans-serif;
  &:focus{outline: none;}
}
.select2{border: 1px solid var(--p1);}

.selection,.select2-selection{
  &:focus{outline: none;}
}
.select2-container .select2-selection--single .select2-selection__rendered{
  padding-left: 18px;
  padding-right: 15px;
  font-size: 16px;
  font-weight: 400;
  color: #F5F5F5;
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple{border-radius: 9px;}
.select2-container .select2-selection--single{height: 40px; width: 100%;}
.select2-container--default .select2-selection--single{border: none; background: none;}
.select2-container--default .select2-selection--single .select2-selection__rendered{line-height: 40px;}
.select2-container--default .select2-selection--single .select2-selection__arrow{height: 38px; width: 22px;}
.select2-search--dropdown{
  padding: 3px 18px;
}
.select2-container--default .select2-search--dropdown .select2-search__field{
  border: none;
  background: #261122;
  color: #F5F5F5;
  font-size: 16px;
  line-height: 1;
  &:focus{outline: none;}
  &::placeholder{color: rgba(#F5F5F5,.2); font-size: 16px;}
}
.select2-container--open{
  .select2-dropdown--below{
    margin-top: 8px;
    background: #261122;
    border: none;
  }
}

.select2-dropdown{
  border-radius: 0;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
  border-width: 0;
  width: 14px; height: 20px;
  background: url("#{$img-path}/arrow.svg") no-repeat 0 0/contain;
  top: 54%; transform: translate(-50%,-50%); left: 50%;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
  border-width: 0;
}
.select2-container--default .select2-results>.select2-results__options{
  padding: 0; border-radius: 0;
  overflow: auto;
  font-family: Hind, sans-serif;
  font-size: 16px;
  &::-webkit-scrollbar{width: 3px;}
  &::-webkit-scrollbar-track{background: #fcfcfc;}
  &::-webkit-scrollbar-thumb{background: #ccc;}
}
.select2-results__option{
  padding: 8px 18px;
  background: #261122;
  font-size: 16px;
  line-height: 23px;
  color: #F5F5F5;
  font-weight: 400;
  position: relative;
}
.select2-container--default .select2-results__option[aria-selected=true]{background: #261122;}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
  background:#E191EE;
  color: #261122;
  &::after{
    content: "";
    width: 14px; height: 10px;
    background: url("#{$img-path}/check.svg") no-repeat;
    position: absolute; top: 50%; transform: translateY(-50%); right: 14px;
  }
}
.select2-container--open .select2-dropdown--above{border: none; margin-top: -8px;}


//uikit
.pr{position: relative;}
.title{font: 42px/60px 'Bungee Inline'; color: #E191EE;}
button{
  border: none; cursor: pointer; transition: .25s;
  &:focus{outline: none;}
}
.img-fit{width: 100%; height: 100%; object-fit: cover;}
.btn-pr{
  width: 163px; height: 40px;
  background: var(--p1);
  border-radius: 9px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  &:hover{background: var(--p2);}
}
.box-video video{width: 100%; height: 100%; object-fit: cover;}
.container{max-width: 1304px;}
.txt-sm{font-size: 20px;}
.txt-md{font-size: 24px;}
.lh-md{line-height: 36px;}
.lh-sm{line-height: 30px;}
.nav-tokens{
  span{font-weight: 700;}
  button{width: 137px; height: 40px;}
  .btn-prev{
    color: rgba(#D9D9D9,.3);
    background: #454545;
    border-radius: 9px 0px 0px 9px;
    .icon-arrow{transform: rotate(180deg); margin-right: 10px; filter: brightness(0.4);}
  }
  .btn-next{
    border-radius: 0px 9px 9px 0px;
    background: var(--p1);
    color: #fff;
    &:hover{background: var(--p2);}
    .icon-arrow{margin-left: 10px;}
  }
  .icon-arrow{width: 17px; height: 16px; background: url("#{$img-path}/icon-next.svg") no-repeat 0 0;}
}


@media (max-width: 1440px) {
  header{
    .container-fluid{padding: 0 15px;}
  }
  .hawkai-s1{
    padding: 99px 0 161px;
    p{min-height: auto;}
  }
  .hawkai-s3{padding: 100px 0;}
  .hawkai-s4{padding: 105px 0 128px;}
  .hawkai-s5{padding: 100px 0;}
  .hawkai-s6{padding: 120px 0;}
  .hawkai-s7,.hawkai-s8{padding: 100px 0;}
  .hawkai-s8{
    .roadmap ul{padding: 47px 35px;}
  }
  footer{padding: 45px 0;}
}

@media (max-width: 1024px) {
  header{
    .logo{width: 240px;}
    .social{
      left: 54%;
      >*+*{margin-left: 40px;}
    }
    .btn-buy{padding: 4px 18px; font-size: 18px;}
    .navbar-toggle{display: block; position: absolute; right: 0;}
  }
  .navbar{
    width: 100%; padding: 20px 0; min-height: auto; justify-content: flex-start;
  }
  .navbar-collapse{
    display: flex; flex-direction: column;
    align-items: flex-start;
    position: fixed; top: 0; left: -100%;
    width: 100%; height: calc(100% - 0px);
    padding: 0 0 15px;
    background: #261122;
    transition: all .4s ease-out;
    z-index: 91; overflow: auto;
    &.show{left: 0;}
  }
  .navbar-toggle{
    display: block;
    width: 18px;
    height: 12px;
    padding: 0;
    background: none; border: none;
    span{
      display: block; width: 18px; height: 2px; border-radius: 2px;
      background: #fff; position: absolute; top: 50%; transform: translateY(-50%); transition: .3s;
    }
    span:before,span:after{
      content: ''; display: block; width: 18px; height: 2px; background: #fff; position: absolute; border-radius: 2px;
    }
    span:before{top: -6px;}
    span:after{bottom: -6px;}
  }
  .navbar-toggle.active{
    z-index: 99;
    span{width: 18px; transform: rotate(45deg);}
    span:after{width: 16px;}
    span:before{top: 0;  transform: rotate(90deg);}
    span:after{opacity: 0;}
  }
  .navbar-nav{
    width: 100%;
    display: block;
    margin: 0;
    padding: 60px 25px 25px;
    >*+*{margin: 30px 0 0;}
    > li > a{line-height: inherit;}
    > li > .sub-menu{order: 3;}
    > li .show-menu{order: 2;}
    > li:hover .sub-menu{display: block;}
    .active::after{display: none;}

    .sub-menu{
      width: 100%; padding: 20px 15px; position: relative; top: 0;  display: none;
      &.lg{
        top: 0; display: none;
        >*+*{margin-top: 30px;}
      }
    }
  }
  .hawkai-s6{
    .tab,.tab-content{width: 48%;}
  }
  .hawkai-s7{
    .chart-container{width: 60%;}
    .chart-summary{width: 40%;}
  }
  .hawkai-s8{
    .content{padding: 40px 15px 55px;}
  }

  .box-search{
    padding: 25px 24px 20px;
    h5{margin: 0 0 10px;}
    .item{
      display: block;
      &.right{display: flex; margin-top: 30px;}
      p{margin: 10px 0 0 0 !important;}
    }
  }
  .box-table{
    font-size: 14px;
    .box-title{
      h4{font-size: 20px; line-height: 26px;}
    }
    .head{
      h5{font-size: 16px;}
    }
    .item{
      .col-2,.col-1,.col-5{padding: 10px 6px;}
    }
    .account{
      &::before{margin-right: 8px; width: 16px; height: 10px;}
      .avatar{width: 26px; height: 26px;}
      .info{width: calc(100% - 50px); padding-left: 8px; font-size: 13px; line-height: 1.3;}
    }
  }
}

@media (max-width: 820px) {
  body{line-height: 1.5;}
  .hawkai-s1{
    padding: 60px 0 80px;
  }
  .hawkai-s2{
    .box-guide{padding: 45px 10px;}
    .guide-step{
      min-width: 1000px;
      >*+*::after{width: 40px; height: 40px; left: -20px;}
    }
    .item{
      padding: 0 36px;
      h4{line-height: 26px;}
    }
    .stt{width: 30px; height: 30px; font-size: 20px;}
  }
  .hawkai-s3{
    padding: 60px 0;
    .accordion{
      padding: 0;
      .header .inner{padding: 18px; padding-right: 40px;}
      .header::after{right: 14px;}
      .content{font-size: 18px; padding-left: 10px;}
      h4{font-size: 18px;}
      .icon{max-width: 30px;}
    }
  }
  .hawkai-s4{
    padding: 60px 0 70px;
    &::before{width: 880px; top: -5%;}
    .feature{grid-template-columns: repeat(2,1fr);}
    .item h4{font-size: 24px;}
  }
  .hawkai-s5,.hawkai-s6,.hawkai-s7{padding: 60px 0;}
  .hawkai-s6{
    .tab{
      li a{
        padding: 18px 36px 18px 18px;
        &::after{right: 14px;}
      }
      .icon{margin-right: 10px; max-width: 30px;}
    }
    .txt-md{font-size: 18px;}
    .smart-trading{
      .item{
        .icon{padding: 0 15px; width: 80px;}
        .content{width: calc(100% - 80px); padding: 0 15px;}
      }
    }
  }
  .hawkai-s8{
    padding: 60px 0;
    .roadmap ul{padding: 45px 15px;}
  }

  .category{
    .box-btn{
      margin-top: 46px;
      a,button{width: 140px; margin: 5px; font-size: 16px;}
    }
  }
  .category-content{margin-top: 50px;}
  .box-search{padding: 25px 15px;}
  .box-table{
    padding: 15px 15px 20px;
    .item .nav-tokens > div{width: 100%; margin: 0 0 10px !important; text-align: center;}
    .box-title{
      h4{font-size: 18px; line-height: inherit;}
    }
    .table{
      min-width: 720px;
      thead{
        th{font-size: 16px;}
        h4{font-size: 20px;}
      }
      th,td{padding: .6rem .4rem;}
    }
  }
  .range-slider::-webkit-slider-thumb {width: 15px; height: 15px;}

  .txt-md{font-size: 20px;}
  .lh-md{line-height: 30px;}
  .lh-sm{line-height: 26px;}
}

@media (max-width: 767px) {
  header{
    .social{left: 56%;}
  }
  .social{
    a{height: 20px; width: 26px;}
    .discord{width: 28px;}
    &.lg{
      a{width: 26px; height: 20px;}
      .youtube{width: 33px;}
      .discord{width: 28px;}
    }
  }
  .hawkai-s3{
    .header{margin-bottom: 40px;}
    .img-wrapper,.box-video{margin-bottom: 40px;}
  }
  .hawkai-s5,.hawkai-s7{
    .img-wrapper,.box-video{margin-top: 40px;}
  }
  .hawkai-s6{
    .header{margin-bottom: 40px;}
    .tab,.tab-content{width: 100%;}
    .tab > *+*{margin-top: 20px;}
    .tab-content{
      .text{margin: 35px 0;}
    }
    .smart-trading{
      grid-template-columns: repeat(1, minmax(auto, 545px));
      grid-row-gap: 26px;
    }
  }
  .hawkai-s7{
    .chart-container{width: 100%;}
    .chart-summary{width: 300px; margin: 40px auto 0; padding: 0;}
    .chart-container{display: flex; align-items: center; justify-content: center;}
  }

  footer{
    .social{
      >*+*{margin-left: 40px;}
    }
  }
}

@media (max-width: 640px) {
  header{
    .navbar{padding: 15px 0;}
    .logo{width: 200px;}
    .social{display: none;}
    .btn-buy,.btn-dapp{padding: 5px 14px 3px; font-size: 15px;}
  }
  main{padding-top: 68px;}
  .hawkai-s1{
    h1{font-size: 42px; line-height: 42px;}
    .content{
      padding: 60px 15px 70px;
      &::after{
        width: calc(100% - 50px);
        height: calc(100% - 80px);
        top: 40px;
      }
      p{font-size: 19px;}
    }
    .img-wrapper{max-width: 50%; margin: 0 auto;}
    .decor{
      span{width: 35px; height: 35px;}
      span:nth-child(1){top: 25px; left: 25px;}
      span:nth-child(2){top: 25px; right: 25px;}
      span:nth-child(3){bottom: 25px; left: 25px;}
      span:nth-child(4){bottom: 25px; right: 25px;}
    }
  }
  .hawkai-s2{
    padding-bottom: 15px;
    .box-guide{border-radius: 80px; padding: 35px 10px;}
    .item{
      padding: 0 26px;
      .text{margin-top: 26px;}
    }
  }
  .hawkai-s3{
    .accordion{
      min-height: auto;
      .content{font-size: 16px;}
      h4{line-height: 26px;}
    }
  }
  .hawkai-s4{
    .feature{grid-template-columns: repeat(1,1fr);}
    .item{
      padding: 62px 20px 47px;
      h4{min-height: auto;}
    }
  }
  .hawkai-s7{
    .title{font-size: 34px;}
  }
  .hawkai-s8{
    .roadmap{
      >*+*::before{width: 45px; height: 45px; left: -22px; top: 19px;}
      ul{font-size: 16px;}
    }
  }

  .box-search{
    >*+*{margin: 20px 0 0;}
    .item{
      width: 100%;
      &.right{margin-top: 20px;}
      .select2-container{min-width: 100% !important;}
    }
    button{margin: 10px 0 0 0;}
  }
  .nav-tokens{
    button{width: 110px; height: 36px;}
  }
  footer{
    padding: 35px 0;
    &.sm{padding: 35px 0;}
  }

  .title{font-size: 33px; line-height: 48px;}
  .txt-sm{font-size: 18px;}
  .lh-md{line-height: 28px;}
  .btn-pr{ font-size: 18px;}
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.02, 1.02, 1.02);
    transform: scale3d(1.02, 1.02, 1.02);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.02, 1.02, 1.02);
    transform: scale3d(1.02, 1.02, 1.02);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(1.6);
    filter: saturate(1.6);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
@-webkit-keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(1.6);
    filter: saturate(1.6);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
.flash{
  animation-name: flash;
  -webkit-animation-name: flash;
}